@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


.heading{
    font-family: 'Train One', cursive;
    padding: 20px;
    font-size: xx-large;
    font-weight: 500;
    background-color: antiquewhite;
    color: rgb(151, 128, 98);
}
*{
    background-color: beige;
}  
  .gameboard{
    background-color: rgb(239, 235, 243);
    height: 80vh;
    border-radius: 5%;
  }
  
  
  .square{
    height: 33.3%;
    width: 33.3%;
  }
  
  .bt{
    border-top: solid rgb(169, 143, 194) 5px;
  }
  
  .bb{
    border-bottom: solid rgb(169, 143, 194) 5px;
  }
  
  .bsb{
    border-left: solid rgb(169, 143, 194) 5px;
    border-right:  solid rgb(169, 143, 194) 5px;
  }
  
  .x10{
    font-size: 5rem;
    color: rgb(75, 60, 95);
  }

  .thumbnail {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100PX;
    color: rgb(194, 165, 129);
    padding: 0px;
    border: brown 1px solid;
    box-shadow: rgb(224, 216, 216) 10px 10px 0px 0px;
  }
  
  .thumbnail-title{
      padding-top: 10px;
      padding-bottom: 10px;
      border: brown 1px solid;
      box-shadow: rgb(224, 216, 216) 10px 10px 0px 0px;
  }

 .images{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   /* margin-left: 120px;
   margin-right: 120px; */
 }

 .button{
   margin-top: 50px;
  /* height: 200px;
  width: 200px; */
  border-radius: 50%;
  border: none;
 }
 @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
 .display{
   /* padding: 100px; */
   display: flex;
   justify-content: center;
   color: rgb(121, 84, 91);
   font-family: 'Gloria Hallelujah', cursive;
 }
.choices{
  margin: 100px;
}
 .wepons{
   display: flex;
   justify-content: center;
 }
 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.score{
  display: flex;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  border: 2px solid rgb(207, 171, 171);
  box-shadow: coral;
}